.wrap {
  display: flex;
  align-items: center;
}

.input {
  width: 200px;
  height: 30px;
  font-size: 15px;
}

.button-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.top,
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  margin-top: 20px;
}

.button-floor-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: coral;

  & + & {
    margin-top: 5px;
  }
}
