.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 400px;
  border: 1px solid #333;

  &.size-half {
    width: 200px;
    height: 400px;
  }

  &.size-full {
    width: 400px;
    height: 400px;
  }
}

.floor {
  flex: 1 1 0;
  padding: 0 5px 5px 0;

  & + & {
    border-top: 1px dashed #333;
  }
}

.button {
  margin: 5px 0 0 5px;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid #333;
}
